name: Bonjour
on:
  - push
jobs:
  dire_bonjour:
    runs-on: ubuntu-24.04
    steps:
      - run: ls -l
      - run: cat README.md 
  uses: actions/checkout@v5 
  with:
    sparse-checkout: |
      README.md
    sparse-checkout-cone-mode: false